@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');




h3 {
    color: #262626;
    font-size: 17px;
    line-height: 24px;
    font-weight: 700;

}



.go-corner {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 32px;
    height: 32px;
    overflow: hidden;
    top: 0;
    right: 0;
    background-color: #00838d;
    border-radius: 0 4px 0 32px;
}

.go-arrow {
    margin-top: -4px;
    margin-right: -4px;
    color: white;
    font-family: courier, sans;
}

.card {
    margin-bottom: 0px;
}

.card:hover {
    /* box-shadow: 0px 0px 10px 0px rgba(6, 3, 3, 0.2); */
    box-shadow: rgba(18, 183, 238, 0.199) -5px 5px, rgba(18, 183, 238, 0.19) -10px 10px ;
    transition: 0.3s;
}